<div id="loading" class="col-md-12 pe_panel" style="width: 137px; margin-left: auto; margin-right: auto;">
    <img src='@Url.Action("GetImage", "Image", new { imageName = " ~/Content/spinner.gif" })' /><span><b>Loading the next @ViewBag.RecordsPerPage&hellip;</b></span>
</div>